<!-- <nav>
  <a routerLink="/course">course</a>
</nav> -->


<!-- <div class="container">
  <div class="row">
    <form [formGroup]="courseForm" style="margin-top: 10px; ">
          <mat-form-field class="example-full-width" style="margin-left: 10px;" >
            <mat-label>Name</mat-label>
            <input matInput placeholder="Enter your name" formControlName="name">
          </mat-form-field>
        
            <mat-form-field  style="margin-left: 10px;">
            <mat-label>Favorite Subject</mat-label>
            <mat-select formControlName="c_id">
              <mat-option *ngFor="let item of courseList" [value]="item.id">
                {{item.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          

          <mat-form-field style="margin-left: 10px;">
            <mat-label>DOB</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="dob">
            <mat-hint>DD/MM/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <div class="row">
            <button mat-raised-button color="primary" type="submit" (click)="onSubmit()">Save</button>
            <button mat-raised-button color="primary" type="button" (click)="onUpdate()">update</button>
            <button mat-raised-button color="primary" type="button" (click)="onClear()">Clear</button>

          </div>

        </form>
        </div>

    </div>


<hr>
<table class="styled-table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>DOB</th>
      <th>Course</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let trainee of tablesData">
      <td>{{ trainee.id }}</td>
      <td>{{ trainee.name }}</td>
      <td>{{ trainee.dob | date:'dd/MM/yyyy' }}</td>
      <td>{{ trainee.course_name }}</td>
      <td>
        <button (click)="onEdit(trainee.id)" class="btn edit-btn">Update</button>
        <button (click)="onDelete(trainee.id)" class="btn edit-btn">Delete</button>
        </td>
    </tr>
  </tbody>
</table> -->


<div class="container">
  <!-- Form Section -->

<div class="row">
  <form [formGroup]="courseForm" style="margin-top: 10px;">
    <div class="form-group">
      <mat-form-field class="example-full-width">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Enter your name" formControlName="name" required>
      </mat-form-field>
    </div>

      <div class="form-group">
        <mat-form-field class="example-full-width">
          <mat-label>Favorite Subject</mat-label>
          <mat-select formControlName="c_id" required>
            <mat-option *ngFor="let item of courseList" [value]="item.id">
              {{ item.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field class="example-full-width">
          <mat-label>DOB</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="dob" required>
          <mat-hint>DD/MM/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="form-actions">
        <button mat-raised-button color="primary" type="submit" (click)="onSubmit()">Save</button>
        <button mat-raised-button color="accent" type="button" (click)="onUpdate()">Update</button>
        <button mat-raised-button color="warn" type="button" (click)="onClear()">Clear</button>
      </div>
    </form>
  </div>

  <!-- Table Section -->
  <hr>

  <table class="styled-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>DOB</th>
        <th>Course</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let trainee of tablesData">
        <td>{{ trainee.id }}</td>
        <td>{{ trainee.name }}</td>
        <td>{{ trainee.dob | date:'dd/MM/yyyy' }}</td>
        <td>{{ trainee.course_name }}</td>
        <td>
          <button (click)="onEdit(trainee.id)" class="btn edit-btn">Update</button>
          <button (click)="onDelete(trainee.id)" class="btn delete-btn">Delete</button>
        </td>
      </tr>
  
    </tbody>
  </table>
<!-- 
  <table class="styled-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>DOB</th>
        <th>Course</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let trainee of tablesData">
        <td>{{ trainee.id }}</td>
        <td>{{ trainee.name }}</td>
        <td>{{ trainee.dob | date:'dd/MM/yyyy' }}</td>
        <td>{{ trainee.course_name }}</td>
        <td>
          <button (click)="onEdit(trainee.id)" class="btn edit-btn">Update</button>
          <button (click)="onDelete(trainee.id)" class="btn delete-btn">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div> -->


    
    
  

